{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Delete Payment Method</h2>
    <p>Are you sure you want to delete this payment method ({{ payment_method.card_type }} ending in {{ payment_method.last_four }})?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'payment_methods' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}